body
{
background-color: darkgray;
}

h1
{
    text-align: center;
    color: rgb(73, 7, 7) ;
} 

body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gecw
{
    width: 400px;
    clip-path: circle();
}
a:hover{
    color: maroon;
}
